
.contenedor__todo {
    max-width: 1300px;
    margin: -20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form input {
    width: calc(100% - 12px);
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid rgb(216, 209, 209);
    text-align: center;
    /* Alineación por defecto */
}

th {
    /*background-color: rgb(187, 173, 173);¨*/
    background-color: #007bff;
    color: white;
}

#data-cmc {
    background-color: #b1b0b0;
}

button.delete {
    background-color: #b10b0b;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button.delete:hover {
    background-color: #d63031;
}

button.edit {
    background-color: #0074d9;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button.edit:hover {
    background-color: #0056b3;
}

.col-horas { width: 80px; }
.col-mtbf { width: 100px; }
.col-valorMtbf { width: 120px; }
.col-duracion { width: 100px; }
.col-costoHora { width: 120px; }
.col-repuestos { width: 120px; }
.col-costosOperacionales { width: 150px; }
.col-retrasoLogistico { width: 150px; }
.col-costoUnitario { width: 150px; }
.col-costosFallas { width: 150px; }
.col-acciones { width: 100px; }

th.cmc1,
td.cmc1 {
    text-align: center;
}

#mc {
    font-size: 30px;
    text-align: center;
    margin-top: -5px;
    color: #46A2FD;
}

form select{
    width: calc(100% - 12px);
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    width: 115px;
}

/*===================================================================*/
/* Media queries para pantallas pequeñas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .contenedor__todo {
        max-width: 100%;
        margin: -20px auto; /* Ajuste de margen para dispositivos móviles */
        /*padding: 5px;*/
    }

    h1 {
        font-size: 1.2em;
    }

    form input, form select, form button {
        font-size: 0.8em;
        padding: 5px;
    }

    table, th, td {
        font-size: 0.7em;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    th, td {
        white-space: nowrap;
    }

}

@media only screen and (max-width: 600px) {
    .contenedor__todo {
        max-width: 100%;
        margin: -20px auto; /* Ajuste de margen para dispositivos móviles */
        /*padding: 5px;*/
    }

    table, thead, tbody, th, td, tr {
        display: block;

    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tbody tr {
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: left;
    }

    td:before {
        position: absolute;
        top: 50%;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        transform: translateY(-50%);
        font-weight: bold;
    }

    /* Etiquetas para pseudo-elementos :before */
    td:nth-of-type(1):before { content: "Horas"; }
    td:nth-of-type(2):before { content: "MTBF"; }
    td:nth-of-type(3):before { content: "Valor MTBF"; }
    td:nth-of-type(4):before { content: "Duración"; }
    td:nth-of-type(5):before { content: "Costo/Hora"; }
    td:nth-of-type(6):before { content: "Repuestos"; }
    td:nth-of-type(7):before { content: "Costos Operacionales"; }
    td:nth-of-type(8):before { content: "Retraso Logístico"; }
    td:nth-of-type(9):before { content: "Costo Unitario"; }
    td:nth-of-type(10):before { content: "Costos Fallas"; }
    td:nth-of-type(11):before { content: "MC"; }
    td:nth-of-type(12):before { content: "Análisis"; }
    td:nth-of-type(13):before { content: "Acciones"; }

}